################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/KNRTU_Pract/v16/Server/sqlite3/db.lock
